<!DOCTYPE html>
<html>
  <head>
    <title>TweetyInertia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="flex flex-row min-h-screen">
      <%= render 'shared/sidebar' %>
      <div class="container px-10 md:px-12 py-8">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
